@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Overridden to prevent Vite default styles from breaking Quasar layout */
#app {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}
